.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article__welcome,
.article__welcome .container,
.article__workouts,
.workouts__list {
  margin-bottom: 80px;
}

.review__title,
.review__decor {
  margin-bottom: 40px;
}

.welcome__text,
.workouts__text,
.review__text {
  margin-bottom: 20px;
}

.workouts__text__list {
  padding-left: 16px;
  list-style: none;
}

.workouts__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px;
}

.workouts__item::before {
  content: "";
  height: 6px;
  width: 6px;
  position: absolute;
  left: -15px;
  background-color: #3596ed;
  border-radius: 50%;
}

.decor__wrapper {
  position: relative;
}

.welcome__decor::before {
  top: 100px;
  left: 0;
}

.review__decor::before {
  right: -350px;
  bottom: 136px;
}

.review__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition:
    opacity 0.2s,
    background-color 0.2s;
  transition:
    opacity 0.2s,
    background-color 0.2s;
}

.review__play-btn:hover {
  opacity: 0.75;
  color: #ffffff;
}

.review__play-btn:not(:disabled):active {
  background-color: #046be9;
}

button.review__play-btn:disabled {
  opacity: 0.65;
  cursor: default;
}

@media (width <=576px) {
  .article {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .review__play-btn {
    height: 50px;
    width: 50px;
  }

  .review__btn-img {
    height: 18px;
    width: 18px;
  }
}
