.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article__mb-1 {
  margin-bottom: clamp(2.5rem, 1.36rem + 4.85vw, 5rem);
}

.article__mb-2 {
  margin-bottom: 40px;
}

.article__text {
  margin-bottom: 20px;
}

.article__list {
  padding-left: 16px;
  list-style: none;
}

.article__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px;
}

.article__item::before {
  content: "";
  height: 6px;
  width: 6px;
  position: absolute;
  left: -15px;
  background-color: #3596ed;
  border-radius: 50%;
}

.article__decor_wrapper {
  position: relative;
}

.article__decor_wrapper_1::before {
  top: 100px;
  left: 0;
}

.article__decor_wrapper_2::before {
  right: 0;
  bottom: 136px;
}

.article__play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition:
    opacity 0.2s,
    background-color 0.2s;
  transition:
    opacity 0.2s,
    background-color 0.2s;
}

.article__play_btn:hover {
  opacity: 0.75;
  color: #ffffff;
}

.article__play_btn:hover {
  opacity: 0.75;
  color: #ffffff;
}

.article__play_btn:not(:disabled):active {
  background-color: #046be9;
}

button.article__play_btn:disabled {
  opacity: 0.65;
  cursor: default;
}

@media (width <=576px) {
  .article {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .article__play_btn {
    height: 50px;
    width: 50px;
  }

  .article__play_btn img {
    height: 18px;
    width: 18px;
  }
}
