.hero {
    position: relative;
    padding-top: clamp(2.5rem, 1.43rem + 4.57vw, 5rem);
}

.hero::before {
    bottom: 106px;
    width: 100%;
}

.hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}

.hero__info {
    max-width: 492px;
}

.hero__title {
    margin-bottom: 40px;
}

.hero__text {
    max-width: 440px;
    margin-bottom: 140px;
}

.hero__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.hero__choose {
    position: absolute;
    left: 50%;
    top: 70px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: clamp(7.8125rem, 6.85rem + 4.11vw, 10.0625rem);
    padding: clamp(0.625rem, 0.30rem + 1.37vw, 1.375rem);
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(83, 87, 85, 1);
    text-align: center;
}

.news__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.news__title {
    margin-bottom: 40px;
}

.news__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    max-width: 284px;
    background-color: #ffffff;
    border: 1px solid rgba(211, 203, 217, 1);
    overflow: hidden;
}

.news__article img {
    display: block;
}

.news__date {
    margin-bottom: 8px;
}

.news__info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news__article footer {
    padding: 0 20px 20px;
    margin-top: auto;
}

.news__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    color: rgba(53, 150, 237, 1);
}

.news__link::after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 9px;
    background-image: url("../icons/arrow-right.svg");
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.news__link:hover::after {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
}

.faq {
    position: relative;
}

.faq::before {
    top: 215px;
}

.faq__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 28px
}

.faq h2 {
    margin-bottom: 40px;
}

.faq__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}

details {
    border-block: 1px solid rgba(211, 203, 217, 1);
}

summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    padding: 20px;
}

summary::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 22px;
    background: url("../icons/arrow-down.svg") no-repeat center;
}

summary>p {
    margin: 0;
    max-width: 90%;
}

details[open] summary::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

details>p {
    margin: 0;
    padding: 0 20px 20px;
}

summary::webkit-details-marker {
    display: none;
}

@media (width <=1440px) {
    .hero__images img {
        width: 50%;
    }
}

@media (width <=992px) {
    .hero::before {
        display: none;
    }

    .hero__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .hero__info {
        text-align: center;
    }

    .hero__text {
        max-width: inherit;
        margin-bottom: 40px;
    }

    .hero__choose {
        font-size: 14px;
    }

    .news__container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .news__article {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 350px;
        gap: 20px;
    }

    .news__article img {
        width: 100%;
    }

    .faq::before {
        display: none;
    }

    .faq__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (width <=768px) {
    .news__article {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 400px;
        gap: 20px;
    }
}