body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
}

/* Основные стили для элементов */

.form {
    margin-block: 20px;
    margin-inline: 20px;
    padding-block: 30px;
    padding-inline: 30px;
    width: 100%;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 7px;
}

.fieldset-group {
    border: none;
}

.fieldset-header {
    padding: 0;
    font-size: 20px;
    font-weight: 700;
}

.form-label, .fieldset-header {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.form-input, .form-textarea {
    display: block;
    margin-top: 3px;
    padding-block: 4px;
    padding-inline: 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 14px;
}

.form-textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 200px;
}

.form-label-checkbox {
    padding-left: 22px;
}

.form-checkbox {
    position: absolute;
    appearance: none;
    cursor: pointer;
    outline: none;
}

.form-checkbox::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -22px;
    border: 2px solid gray;
    border-radius: 6px;
    cursor: pointer;
}

.checkbox-text {
    font-size: 14px;
    margin-bottom: 5px;
}

.form-checkbox:checked::after {
    background: url(../images/check-icon.svg) no-repeat center;
}

.form-btn {
    margin-left: 15px;
    padding-block: 6px;
    padding-inline: 18px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0.2s;
}

/* Hover эффекты */

.form-btn:hover {
    opacity: 0.85;
}

/* Focus-visible эффекты */

.form-input:focus-visible,
.form-textarea:focus-visible,
.form-btn:focus-visible,
.form-checkbox:focus-visible::after {
    outline: 2px solid #912fff !important;
    outline-offset: 1px !important;
}

/* Disabled стили */

.form-btn:disabled,
.form-input:disabled,
.form-textarea:disabled,
.form-checkbox:disabled,
.form-checkbox:disabled::after {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Цвета */

.form {
    background: linear-gradient(135deg, rgb(255, 200, 80) 0%, rgb(255, 140, 50) 40%, rgb(200, 80, 80) 100%);
}

.form-btn,
.form-input,
.form-textarea,
.form-checkbox:checked::after {
    background-color: #00264d;
}

.form-btn:not(:disabled):active {
    background-color: #094888;
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.form-btn,
.form-input,
.form-textarea {
    color: #FFFFFF
}
