html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
}

.container {
    max-width: 1440px;
    padding-inline: 20px;
    margin: 0 auto;
}

.header__container {
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1.5px solid gray;
}

.header__logo {
    width: 6vw;
    max-width: 88px;
    height: 6vw;
    max-height: 88px;
    background-color: black;
}

.header__phone {
    text-wrap: nowrap;
}

ul.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__item {
    text-wrap: nowrap;
}
