.footer {
    margin-top: auto;
    padding: 60px 0 40px;
    background: linear-gradient(90deg, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
}

.footer__top,
.footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__top {
    padding-bottom: 40px;
    border-bottom: 1px solid #d3cbd9;
}

.footer__bottom {
    padding-top: 40px;
}

.footer__nav {
    margin-top: 40px;
}

.nav__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.nav__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.footer__copyright {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #858e8a;
}