.bonus {
    /* 375px - 1920px */
    padding-top: 300px;
    padding-bottom: 235px;
    position: relative;
}

.bonus__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bonus__background-image-blur {
    background-image: url("../../icons/blur/hero-blur.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    fill: linear-gradient(180deg, #98c269 0%, #9edfb6 100%);
    -webkit-filter: blur(500px);
    filter: blur(500px);
    width: 413px;
    height: 418px;
}

.bonus__background-image-left-position-wrapper {
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 0;
}

.bonus__background-image-left {
    width: 700px;
    height: 994px;
    transform: rotate(-7deg);
}

.bonus__background-image-blur-left {
    position: absolute;
    top: 34%;
    left: -21%;
}

.bonus__background-image-right-position-wrapper {
    position: absolute;
    top: 15%;
    bottom: 0;
    right: 0;
}

.bonus__background-image-right {
    width: 606px;
    height: 1299px;
}

.bonus__background-image-blur-right {
    position: absolute;
    top: 40%;
    left: 51%;
}

.bonus__title::before {
    content: "БОНУС";
    font-weight: 700;
    font-size: 200px;
    line-height: 117%;
    text-align: center;
    background: linear-gradient(180deg, #4b5951 0%, rgba(61, 82, 70, 0.1) 98.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -80px;
}

.bonus__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 117%;
    text-align: center;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 642px;
    padding-bottom: 33px;
}

.bonus__description {
    font-weight: 400;
    font-size: 25px;
    line-height: 158%;
    text-align: center;
    color: #fff;
    max-width: 642px;
    padding-bottom: 57px;
}

.bonus__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bonus__button-get-bonus {
    /* 375px - 1920px */
    width: 376px;
    height: 106px;
}

.bonus__button-get-bonus-link {
    font-weight: 700;
    font-size: 22px;
    line-height: 159%;
    text-align: center;
}

.bonus__button-create-demo {
    /* 375px - 1920px */
    width: 376px;
    height: 106px;
}

.bonus__button-create-demo-link {
    font-weight: 400;
    font-size: 22px;
    line-height: 159%;
    color: #e7e7e7;
}