.features {
    padding-bottom: clamp(5.625rem, 4.82rem + 3.43vw, 8.9375rem);
}

.features__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.features__title {
    /* 375px - 1920px */
    margin-bottom: clamp(2.1875rem, 1.66rem + 2.27vw, 4.375rem);
}

.features__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    grid-auto-rows: 1fr -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-auto-rows: 1fr min-content min-content min-content;
    gap: 20px 22px
}

.features__card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    padding: 13% 5% 8% 11%;
    background-color: #1B1B1C;
    transition: background-color var(--transition-time)
}

@media (any-hover: hover) {
    .features__card:hover {
        background-color: #232323;
    }

    .features__card:hover .card__link {
        color: var(--color-secondary);
    }

    .features__card:hover .card__link-wrapper::after {
        transform: translateX(6px);
    }
}

.card__icon {
    grid-row: 1;
}

.card__title {
    grid-row: 2;
}

.card__text {
    grid-row: 3;
}

.card__link {
    grid-row: 4;
}

.card__icon {
    color: var(--color-secondary);
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 6%;
}

.card__title {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 500;
    /* 375px - 1920px */
    font-size: clamp(1.125rem, 1.00rem + 0.52vw, 1.625rem);
    line-height: 125.2%;
    color: #FFFFFF;
}

.card__desc {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 300;
    /* 375px - 1920px */
    font-size: clamp(1rem, 0.91rem + 0.39vw, 1.375rem);
    line-height: 156.7%;
    color: #FFFFFF;
}

.card__link-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
}

.card__link {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 300;
    /* 375px - 1920px */
    font-size: clamp(0.875rem, 0.81rem + 0.26vw, 1.125rem);
    line-height: 156.7%;
    text-align: right;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #FFFFFF;
    justify-self: end;
    margin-top: auto;
    transition: color var(--transition-time);
}

.card__link-wrapper::after {
    justify-self: end;
    content: "→";
    transition: transform var(--transition-time);
}