.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 28px;
}

.left-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 1240px - 1920px */
    gap: clamp(1.25rem, -1.03rem + 2.94vw, 2.5rem);
}

.right-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo__text-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

.logo__text {
    font-family: "Latin CT", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 119%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-main);
}

.header__lang-switcher {
    flex-shrink: 0;
}

.header__menu {
    /* 1240px - 1920px */
    margin-left: clamp(0rem, -3.42rem + 4.41vw, 1.875rem);
}

.header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__button-login {
    padding: 22px 28px;
}

.header__button-create-acc {
    padding: 25px 35px;
}
