.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 1120px - 1920px */
    gap: clamp(0.125rem, -0.98rem + 3vw, 34px);
}

@media (width >768px) {
    .header__container {
        padding-top: 30px;
        padding-bottom: 16px;
    }
}

@media (width <=768px) {
    .header__container {
        padding-top: 15px;
        padding-bottom: 14px;
    }
}

.header__left-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--layer-3);
    gap: 5px;
}

@media (width >992px) {
    .logo__img {
        margin-bottom: 17px;
    }
}

.logo__text-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo__text {
    font-family: "Latin CT", sans-serif;
    font-weight: 400;
    line-height: 119%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-main);
    /* 375px - 1240px */
    font-size: clamp(0.4rem, 0.01rem + 1.27vw, 0.8rem);
}

.logo__img {
    /* 375px - 1240px */
    width: clamp(1.7rem, 0.54rem + 3.82vw, 3.5rem);
    height: clamp(2rem, 0.9rem + 4.16vw, 4.125rem);
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* 1120px - 1920px */
    gap: clamp(0.4rem, -2.55rem + 5.88vw, 78px);
}

@media (width <=1120px) {
    .header__menu {
        align-items: first baseline;
        flex-direction: column-reverse;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        left: -100vw;
        bottom: 0;
        z-index: var(--layer-2);
        min-width: 165px;
        padding: 144px 20px 20px 30px;
        background-color: var(--color-bg);
        overflow-y: auto;
        opacity: 0;
        visibility: hidden;
        transition:
            left var(--transition-time),
            opacity var(--transition-time),
            visibility var(--transition-time);
    }

    .header__menu--open {
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    .header__menu .menu__list {
        flex-direction: column-reverse;
        align-items: flex-start;
        text-align: start;
    }

    .header__lang-switcher {
        margin-top: 10px;
    }
}

@media (width >768px) {
    .header__menu {
        min-width: 250px;
    }
}

@media (width <=768px) {
    .header__menu {
        padding: 100px 20px 20px 30px;
    }
}

.header__controls {
    margin-left: auto;
}

.header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--layer-3);
}

@media (width >768px) {
    .header__actions {
        gap: 20px;
    }
}

@media (width <=768px) {
    .header__actions {
        gap: 10px;
    }
}

.header__button-login {
    /* 375px - 1240px */
    width: clamp(3.125rem, 1.42rem + 7.28vw, 7.0625rem);
    height: clamp(1.3125rem, 0.17rem + 4.62vw, 4.125rem);
}

.header__button-login-link {
    /* 375px - 1920px */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: clamp(0.4375rem, 0.27rem + 0.71vw, 1.125rem);
    color: #fff;
}

.header__button-create-acc {
    /* 375px - 1240px */
    width: clamp(5rem, 0.83rem + 17.80vw, 14.625rem);
    height: clamp(1.3125rem, 0.09rem + 5.20vw, 4.125rem);
}

.header__button-create-acc-link {
    /* 375px - 1920px */
    font-size: clamp(0.625rem, 0.50rem + 0.52vw, 1.125rem);
    color: #000;
}

@media (width >576px) {
    .header__button-create-acc-link {
        font-weight: 700;
    }
}

@media (width <=576px) {
    .header__button-create-acc-link {
        font-weight: 500;
    }
}