.lang-switcher {
    display: inline-block;
}

.lang-switcher__current-lang {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.lang-switcher__current-lang::after {
    content: "";
    margin-left: 1.58px;
    width: 13px;
    height: 7px;
    background-image: url("../../icons/angle-small-down.svg");
    color: var(--color-main)
}

.lang-switcher__control {
    position: relative;
}

.lang-switcher__control ul {
    position: absolute;
    top: 100%;
    left: 29px; 
    display: flex;
    flex-direction: column;
    gap: 4px;
}