.portfolio {
    /* 375px - 1920px */
    padding-bottom: clamp(10rem, 9.20rem + 3.43vw, 13.3125rem);
}

.portfolio__container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 375px - 1920px */
    gap: clamp(2.5rem, 0.38rem + 9.06vw, 11.25rem);
}

@media (width >1370px) {
    .portfolio__container {
        flex-direction: row-reverse;
    }
}

@media (width <=1370px) {
    .portfolio__container {
        flex-direction: column;
    }
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (width <=1370px) {
    .portfolio__content {
        align-items: center;
    }
}

.portfolio__title {
    /* 375px - 1920px */
    font-weight: 500;
    font-size: clamp(1.5rem, 0.34rem + 4.97vw, 4.0625rem);
    line-height: 117%;
    color: #fff;
    margin-bottom: clamp(0.5625rem, 0.43rem + 0.58vw, 1.125rem);
}

@media (width <=1370px) {
    .portfolio__title {
        text-align: center;
    }
}

.portfolio__description {
    /* 375px - 1920px */
    font-weight: 400;
    font-size: clamp(1rem, 0.60rem + 1.70vw, 1.875rem);
    line-height: 158%;
    color: #fff;
    margin-bottom: clamp(1.5625rem, 1.18rem + 1.62vw, 3.125rem);
}

@media (width >1370px) {
    .portfolio__description {
        text-align: left;
        max-width: 86%;
    }
}

@media (width <=1370px) {
    .portfolio__description {
        text-align: center;
    }
}

.portfolio__button-get-portfolio {
    /* 375px - 1920px */
    width: clamp(7.125rem, 3.06rem + 17.35vw, 23.875rem);
    height: clamp(2.5rem, 1.14rem + 4.47vw, 6.8125rem);
}

.portfolio__button-get-portfolio-link {
    /* 375px - 1920px */
    font-weight: 700;
    font-size: clamp(0.4375rem, 0.21rem + 0.97vw, 1.375rem);
    line-height: 159%;
    text-align: center;
    color: #000;
}