.features__video {
    position: relative;
}

@media (width > 576px) {
    .features__video {
        margin-bottom: 60px;
    }
}

@media (width <=576px) {
    .features__video {
        margin-bottom: 40px;
    }
}

.features__video-preview {
    overflow: hidden;
    border: 1px solid var(--color-main);
    border-radius: 12px;
}

.features-video-play-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: clamp(3rem, 1.78rem + 5.19vw, 5rem);
    height: clamp(3rem, 1.78rem + 5.19vw, 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-main);
    border-radius: 50%;
    background-color: var(--color-overlay);
    box-shadow: var(--shadow-main-glow);
}

@media (any-hover: hover) {
    .features-video-play-link:hover {
        border-color: var(--color-accent);
        box-shadow: var(--shadow-accent-glow);
    }
}

.features-video-play-icon {
    transform: translateX(2px);
    width: clamp(0.5625rem, 0.26rem + 1.3vw, 1.0625rem);
    height: clamp(0.75rem, 0.33rem + 1.78vw, 1.4375rem);
}

.features__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 40px 20px;
}

.features__card-icon {
    margin-bottom: 4px;
    transform: translateX(-8px);
    color: var(--color-accent);
}

@media (width <=576px) {
    .features__card-icon {
        width: 48px;
        height: 48px;
    }
}

.features__card-title {
    margin-bottom: 20px;
}

.features__card-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: var(--color-main);
}